<div class="area">
    <div class="container_1 p-5">
        <div id="print-section">
            <app-certificate [props]="certificate_data"></app-certificate>   
        </div>
        <div class="buttons-section d-flex w-100">
            <button class="btn btn-secondary text-light mt-3" id="generate_button" (click)="generate_certificate()">Generate Certificate</button>
            <button class="btn btn-primary text-light mt-3 ml-3" id="export_button" [useExistingCss]="true" printSectionId="print-section" ngxPrint>Export</button>
        </div>  
    </div>
</div>