<div class="area">
    <div class="container_1">
        <div class="login">
            <!-- <h2 class="mb-5">Natália Santos</h2>
            <h4 class="mb-5">Object Oriented Programming</h4>
            <div class="progress mb-5">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-5">100% completed</p> -->
            <app-certificate></app-certificate>
            <button class="button text-light mt-5" routerLink="/Payment" routerLinkActive="active-link">Buy Course</button>       
        </div>
    </div>
</div>