

<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between card-body ">
            <div>
                <h4>
                    Coupon 30%off
                </h4>

            </div>
            <div class="form-check form-switch">
                <button type="button" class="button text-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    30% Off
                </button>
                
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Congratulations</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            You won a 30% off coupon.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Okay</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>