<app-nav-bar-on></app-nav-bar-on>
<div id="" class="pb-5 pt-5 bg_black">
    <div class="container-lg" id="bg_black">
        <div class="row">
          <div class="col-lg-4 text-light align-self-center">
            <h1 class="fw-bold">A New<br>
              Way to improve<br>
              your skills!</h1>
              <p class="lh-base text-head">Hawking is your chance to promote yourself!<br>
                Courses in different areas for you to become<br>
                an excellent professional</p>
          </div>
          <div class="col-lg-8 text-end">
            <img src="../../../assets/Frame 7.png" alt="" class="img-head">
          </div>
        </div>    
    </div>
</div>
<app-menu></app-menu>
<app-courses-on></app-courses-on>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Congratulations</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{pop_name}}
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Okay</button>
      </div>
  </div>
  </div>
</div>

<button id="openModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Open Modal</button>
