<app-nav-bar-on></app-nav-bar-on>
<div id="" class="pb-5 pt-5 bg_black">
    <div class="container-lg" id="bg_black">
        <div class="row">
          <div class="col-lg-4 text-light align-self-center">
            <h1 class="fw-bold">A New<br>
              Way to improve<br>
              your skills!</h1>
              <p class="lh-base text-head">Hawking is your chance to promote yourself!<br>
                Courses in different areas for you to become<br>
                an excellent professional</p>
          </div>
          <div class="col-lg-8 text-end">
            <img src="../../../assets/Frame 7.png" alt="" class="img-head">
          </div>
        </div>    
    </div>
</div>
<app-menu></app-menu>
<app-courses-on></app-courses-on>