@media screen and (max-width: 1000px) {
    .container-lg {
        font-size: 2vh;
    }
    .img-head {
        display: none;
    }

    h1 {
        margin-top: -6vh;
        text-align: center;
    }
    p{
        text-align: center;
    }
}