* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

.bg_black {
    background-color: #121212;
}

.button {
    background-color: #6527F0;
    width: auto;
    height: 5vh;
    border-radius: 0.8vh;
    border-style: none;
    padding-right: 20px;
    padding-left: 20px;
}

.button:hover {
    background-color: #5d24d6;
}