<div class="area">
    <div class="container_1">
        <div class="register">
            <form class="">
                <img src="../../../assets/Group 71.svg" alt="" class="mb-4">
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Course Link</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Gênero</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label mt-3">Course Title</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label mt-3">Course Youtube Link</label>
                    <input type="text" class="form-control">
                  </div>
                <button type="submit" class="button text-light mt-2" routerLink="#" routerLinkActive="active-link">Upload</button>
              </form>  
        </div>
        <div class="bg-img">
                 
        </div>
    </div>
</div>