.area {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.container_1 {
    width: 80%;
    height: 80vh;
    display: flex;
    

}

.bg-img {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6527F0;
    padding: 1rem;
    border-radius: 20px 0px 0px 20px;
    background-image: url("../../../assets/Saly-38.svg");
}

.bg-img img {
    width: 100vh;
}

.login {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0px 20px 20px 0px;
}

@media screen and (max-width: 1200px) {
    .bg-img {
        display: none;
    }

    .container_1{
        width: 65%;
    }

    .login {
        width: 100%;
        border-radius: 20px 20px 20px 20px;
    }
}