.button_color {
    background-color: #6527F0;
}

.card {
    width: 18rem;
}

@media screen and (max-width: 1330px) {
    .card {
        width: 18rem;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }

    .container {
        align-items: center;
    }
}