<app-navbar></app-navbar>
<div id="" class="pb-5 pt-5 bg_black">
    <div class="container-lg" id="bg_black">
        <div class="row">
          <div class="col-lg-4 text-light align-self-center">
            <h1 class="fw-bold">A New<br>
              Way to improve<br>
              your skills!</h1>
              <p class="lh-base">Hawking is your chance to promote yourself!<br>
                Courses in different areas for you to become<br>
                an excellent professional</p>
              <button type="submit" class="button text-light">Start Your Journey</button>
          </div>
          <div class="col-lg-8 text-end">
            <img src="../../../assets/Frame 7.png" alt="" class="">
          </div>
        </div>    
    </div>
</div>
<app-menu></app-menu>
<app-courses></app-courses>>
<app-footer></app-footer>