<div id="" class="pb-5 pt-5 bg_black">
    <div class="container-lg" id="bg_black">
        <div class="row">
          <div class="col-lg-4 text-light align-self-center">
            <h1 class="fw-bold">A New<br>
              Way to improve<br>
              your skills!</h1>
              <p class="lh-base">Hawking is your chance to promote yourself!<br>
                Courses in different areas for you to become<br>
                an excellent professional</p>
              <a href="" class="btn btn-primary button">Start Your Jorney</a>
          </div>
          <div class="col-lg-8 text-end">
            <img src="../../../assets/Frame 7.png" alt="" class="">
          </div>
        </div>    
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-black" id="size_nav">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" href="#">Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Marketing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Mathematic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Programming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Finances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Data Science</a>
        </li>
      </ul>
    </div>
  </div>
</nav>