<div class="area p-4">
    <div class="student-data">
        <h2 class="mb-3">Natália Santos</h2>
        <h4 class="mb-3">Object Oriented Programming</h4>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>100% completed</p>
    </div>
    <img src="../../../assets/Group 71.svg" alt="logo" id="certificate-stamp">
</div>