<div id="" class="pt-3 bg_black">  
  <div class="container bg_black">
    <nav class="navbar navbar-expand-lg bg_black" id="">
        <div class="container-fluid py-3">
          <a class="navbar-brand" routerLink="/Homeon" routerLinkActive="active-link"><img src="../../../assets/Group 55.svg" alt="" ></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active  text-light" aria-current="page" href="#" routerLink="/Courseupload" routerLinkActive="active-link">Upload Course</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active  text-light" aria-current="page" routerLink="/Mycourses" routerLinkActive="active-link">My Courses</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li>
                <img class="img-circle mx-3" src="../../../assets/2.jpg">
              </li>
              <li class="nav-item respon-button">
                  <a href="" routerLink="/settings" routerLinkActive="active-link">
                    <h2 class="icon">
                      <i class="bi bi-gear"></i>
                    </h2>
                  </a>
              </li>
              <li class="nav-item respon-button">
                <a class="" href="#">
                  <h2 class="icon">
                    <i class="bi bi-box-arrow-right" (click)="logout()"></i>
                  </h2>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </div>
</div>