.button {
    background-color: #6527F0;
    height: 50px;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

.nav-item{
    list-style: none;
    margin-left: 10px;
}

.icon{
    font-size: 20px;
    color: white;
}

.img-circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-width: 2px; // Estiliza a sua largura
    border-style: solid; // Estiliza seu estilo
    border-color:  white;
    margin-top: -0.3vh;
}

@media screen and (max-width: 1330px) {
    

}
