<div id="" class="pt-3 bg_black">  
  <div class="container bg_black">
    <nav class="navbar navbar-expand-lg bg_black" id="">
        <div class="container-fluid py-3">
          <a class="navbar-brand" href="#"><img src="../../../assets/Group 55.svg" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <li class="nav-item">
              <a href="#" routerLink="/login" routerLinkActive="active-link"><button class="btn button text-light respon-button button-login" name="loginbutton">Login</button></a>
            </li>

            <li class="nav-item">
              <a href="#" routerLink="/Register" routerLinkActive="active-link"><button class="btn button text-light respon-button button-register">Start Your Journey</button></a>
            </li>
          </div>
        </div>
      </nav>
  </div>
</div>