.button {
    background-color: #6527F0;
    width: auto;
    height: 50px;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

.nav-item{
    list-style: none;
    margin-left: 10px;
}

@media screen and (max-width: 1330px) {

}
