.area {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.container_1 {
    width: 80%;
    height: 80vh;
    display: flex;
    

}

.bg-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6527F0;
    border-radius: 20px 0px 0px 20px;
}

.login {
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0px 20px 20px 0px;
}


@media screen and (max-width: 1330px) {
    .login {
        display: none;
    }

    .container_1{
        width: 90%;
    }

    .bg-img {
        width: 100%;
        border-radius: 20px 20px 20px 20px;
    }
}