<header class="menu">
    <img src="../../assets/Group 55.svg" alt="">
    <nav>
        <ul class="nav-links">
            <li><a href="#" class="links"></a>Design</li>
            <li><a href="#" class="links"></a>Data Science</li>
            <li><a href="#" class="links"></a>Mathematic</li>
            <li><a href="#" class="links"></a>Programming</li>
            <li><a href="#" class="links"></a>Inovation</li>
            <li><a href="#" class="links"></a>Languages</li>
            <li><a href="#" class="links"><button>Login</button></a></li>
        </ul>
        
    </nav>
</header>
  