<div class="area">
    <div class="container_1">
        <div class="register">
            <form class="">
                <img src="../../../assets/Group 71.svg" alt="" class="mb-4">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label mt-3">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="email">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="password">
                </div>
                <button type="submit" class="button text-light mt-2" (click)="register()">Register</button>
              </form>  
        </div>
        <div class="bg-img">
                 
        </div>
    </div>
</div>